#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example-card {
    background-color: rgb(241, 241, 241);
    margin-top: 1.5rem;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: 0.5s;
  }

  .example-card:hover{
    scale: 1.05;
    transition: 0.5s;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-button{
    background-color: #426ef0;
    color: white;
    font-weight: normal;
  }

  .mat-button a{
    color: white;
    font-weight: normal;
    text-decoration: none;
  }