<app-navbar></app-navbar>
<div id="container">
    <div *ngFor="let post of news$ | async">
        <div *ngIf="post.cover_image !== null">
            <mat-card class="example-card">
                <mat-card-header>
                  <img mat-card-avatar [src]="post.user.profile_image">
                  <mat-card-title>{{post.title}}</mat-card-title>
                  <mat-card-subtitle>{{post.user.name}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="post.cover_image" alt="">
                <mat-card-content>
                  <p>
                    {{post.description}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                  <button mat-button>
                  <a [href]="post.url">READ MORE</a>
                  </button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>